.my_modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
}

.my_content {
  padding: 20px;
  background: white;
  border-radius: 20px;
  max-width: 600px;
}

.my_modal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}
